{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>we will implement todolist creations here</h1>
<div>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {{form.title|as_crispy_field}}
        {{form.description|as_crispy_field}}
        <div class="row">
            <div class="col-md-6">
                {{form.createdAt|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.user|as_crispy_field}}
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-success"><i class="fas fa-database"> Submit</i></button>
        </div>

    </form>
</div>
{% endblock content %}